__pycache__/
*.pyc
*.pyo
*.pyd
.Python
.git
.github/
.idea/
.pytest_cache/
.ruff_cache/
.mypy_cache/
.venv/
.vscode/
venv/
node_modules/
models/
logs/
data/
*.ipynb
*.egg-info/
artifacts/
deploy/
docker/docker-bak/
docs/
results/
tests/
